.header {
  background: #2d4d6d;
}

.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  background: #1e2e3f;
}

.header__search {
  background: #6d7c8b;
}
