.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 20px;
}

.header__search {
  background: #6d7c8b;
}

@media (max-width: 500px) {
  .header__line {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
