@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Jolly+Lodger&family=Montserrat:ital,wght@0,700;1,700&family=Rubik+Doodle+Shadow&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Jolly+Lodger&family=Montserrat:ital,wght@0,700;1,700&family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Jolly+Lodger&family=Montserrat:ital,wght@0,700;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}
#root {
  font-family: "Ubuntu";
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 20px;
}

.app-container__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px #5c5c5c;
  border-radius: 10px;
}

@media (max-width: 1330px) {
  header,
  main {
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .app-container {
    margin-top: 0px;
  }
  .app-container__content {
    border-radius: 0;
  }
}

/* ----- Tablet ----- */

@media (max-width: 920px) {
  header,
  main {
    padding: 0 10px;
  }
}

/* ----- Mobile ----- */

@media (max-width: 500px) {
  header,
  main {
    padding: 0 10px;
  }
}
