.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal__content {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  max-width: 700px;
  height: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 10px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.modal__close:hover {
  color: #f00;
}

.modal__poster {
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  display: block;
}

.modal__posterImg {
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: block;
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__year {
  font-size: 25px;
  color: #333;
}

.modal__info li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: rgb(211, 211, 211);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.modal__info ul {
  padding-left: 0;
  display: flex;
}

.modal__rating {
  margin-top: auto;
  text-align: right;
  font-size: 1.3em;
  font-weight: bold;
}
.modal__ratingBlock {
  background-color: #b3b3b3;
  padding: 0 15px;
  border-radius: 3px;
  display: inline;
}

@media (max-width: 710px) {
  .modal__content {
    max-width: 100%;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .modal__poster,
  .modal__info ul {
    margin: 0 auto;
  }

  .modal__rating {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .modal__poster {
    width: 100%;
  }

  .modal__info ul {
    display: block;
  }
}
