.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal__content {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  max-width: 900px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 10px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.modal__close:hover {
  color: #f00;
}

.modal__posterImg {
  width: 500px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__year {
  font-size: 25px;
  color: #333;
}

.modal__info li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: rgb(211, 211, 211);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.modal__info ul {
  padding-left: 0;
  display: flex;
}

@media (max-width: 768px) {
}
