.searchInput {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background: #d9d9d9;
}

.searchInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}
