.card {
  text-align: center;
  max-width: 280px;
  border: 1px solid #f00;
  border-radius: 4px;
  padding: 15px;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  transform: scale(1.015);
  transition: 0.8s;
  -webkit-filter: brightness(110%);
  box-shadow: 0 0 5px rgb(248, 99, 99);
  cursor: pointer;
}

.posterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 5px #000;
  border-radius: 4px;
}

.card__title {
  font-weight: bold;
  font-size: 1.3rem;
}
